<nz-skeleton *ngIf="loading" [nzAvatar]="false" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
<section *ngIf="!loading">
  <div [nzGutter]="16" nz-row nzAlign="middle">
    <h1 nz-col>{{medItem.brandName}}</h1>
    <app-tag [content]="getAvailability()" [type]="(medItem.quantity ==0)?'error':'primary' " nz-col></app-tag>
    <app-tag *ngIf="medItem.requiresPrescription" content="Prescription needed" nz-col type="info"></app-tag>
    <!--    <div *ngIf="role=='patient'" nz-col nzFlex="auto">-->
    <!--      <span (click)="toggleBookmark()" [nzTheme]="getBookmarked()" class="bookmark" nz-icon nzType="book"></span>-->
    <!--    </div>-->
  </div>

  <div [nzGutter]="16" nz-row>
    <img *ngIf="medItem.imageUrl" [alt]="medItem.brandName + ' image'"
         [nzSpan]="10" [nzSrc]="medItem.imageUrl"
         [src]="medItem.imageUrl"
         nz-col
         nz-image>
    <div *ngIf="!medItem.imageUrl" [nzSpan]="10" class="image-replacement" nz-col></div>
    <div [nzSpan]="14" nz-col>
      <p>{{medItem.description}}</p>
      <nz-descriptions
        [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }"
        nzBordered
        style="margin-bottom: 16px">
        <nz-descriptions-item nzTitle="Form">
          <nz-tag>{{medItem.medForm}}</nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Class">
          <nz-tag>{{medItem.medClass}}</nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Dosage">
          <nz-tag>{{medItem.dosage}}</nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Quantity">
          <nz-tag>{{medItem.quantity}}</nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Price">
          <nz-tag>{{medItem.price | currency}}</nz-tag>
        </nz-descriptions-item>
      </nz-descriptions>
    </div>
  </div>

  <div *ngIf="purchaseStatus == 'new' && role == 'patient'">
    <button (click)="reserveMed()" nz-button nzSize="large" nzType="primary">Reserve this medicine</button>
  </div>
  <section *ngIf="role == 'nurse'">

<!--    <button (click)="addPurchase()" nz-button nzSize="large" style="margin: 1rem 0">Add Purchase</button>-->

    <ul [nzDataSource]="medHistory" nz-list nzBordered nzSize="large">
      <nz-list-header>Medicin History</nz-list-header>
      <li *ngFor="let item of medHistory" nz-list-item nzNoFlex>
        <ul *ngIf="item.status =='reserved'" nz-list-item-actions>
          <nz-list-item-action>
            <a (click)="markPurchased(item)">Mark as bought</a>
          </nz-list-item-action>
        </ul>
        {{ item.createdAt | date }} <br>
        <nz-tag>{{item.status | titlecase}}</nz-tag>

      </li>
    </ul>
    <nz-button-group nzSize="large" style="margin-top: 2rem">
      <button (click)="delete()" nz-button nzDanger>
        Delete
      </button>
      <button (click)="edit()" nz-button [nzType]="'default'">
        Edit
      </button>
    </nz-button-group>
  </section>
</section>

