<h1>Forgot Password</h1>
<h3>We will send you a mail to get back to your account</h3>


<form (ngSubmit)="submitForm()" [formGroup]="form" class="login-form" nz-form>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input a valid email.">
      <nz-input-group nzPrefixIcon="mail">
        <input formControlName="email" nz-input placeholder="Email" type="text"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button [nzType]="'primary'" class="login-form-button login-form-margin"  nz-button>Reset Password</button>
</form>
