<main>
  <section>
    <div>
      <h1>Social Medical Center</h1>
      <h3>Your health portal</h3>
      <ul>
        <li>Keep your health records</li>
        <li>Book your appointments</li>
        <li>Register for our events</li>
      </ul>
    </div>
  </section>
  <div class="content">
    <div class="logo">
      <img [nzDisablePreview]="true" nz-image nzSrc="../../../assets/logo.svg" src="../../../assets/logo.svg"/>
    </div>
    <div class="form">
      <router-outlet></router-outlet>

    </div>
  </div>

</main>
