nz-badge {
  cursor: pointer;
}

nz-badge span {
  font-size: 24px;
  color: var(--primary-dark);
}


li {
  padding-left: 16px;
  padding-right: 16px;
}

span {
  padding-left: 6px;
  color: var(--primary-80);
  font-size: 12px;
}
