<div class="title">
  <input [(ngModel)]="event.title" nz-input placeholder="Event title..."/>
  <nz-date-picker [nzShowTime]="true"
                  [(ngModel)]="event.date"></nz-date-picker>
</div>

<div class="editor" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="structure" *ngFor="let item of event.structure" >
    <span  class="delete"
           (click)="removeSection(item)"
           nz-icon nzType="delete"
           nzTheme="outline"></span>
    <div [ngSwitch]="item.type">
      <div *ngSwitchCase="'image'" class="structure-section">
        <app-image-chunk
          [eventStructure]="item"></app-image-chunk>
      </div>
      <div *ngSwitchCase="'title'" class="structure-section">
        <app-title-chunk
          [eventStructure]="item"></app-title-chunk>
      </div>
      <div *ngSwitchCase="'image-with-caption'" class="structure-section">
        <app-image-with-caption-chunk
          [eventStructure]="item"></app-image-with-caption-chunk>
      </div>
      <div *ngSwitchCase="'paragraph'" class="structure-section">
        <app-paragraph-chunk
          [eventStructure]="item"></app-paragraph-chunk>
      </div>
    </div>
  </div>

  <nz-card (click)="openDrawerNew()" class="the-plus">
    <span nz-icon nzTheme="outline" nzType="plus"></span>
  </nz-card>
</div>


<button style="float: right"
        (click)="addNewEvent()"
        nz-button nzType="primary">Publish New Event</button>

<nz-drawer
  (nzOnClose)="closeNewChunkDrawer()"
  [nzClosable]="false"
  [nzVisible]="drawerSettings.visible"
  [nzWidth]="720"
  nzPlacement="right"
  nzTitle="Add New Section">
  <div *nzDrawerContent>
    <app-new-event-form (extraSection)="addToStructure($event)"></app-new-event-form>
  </div>
</nz-drawer>

