<app-shell>
  <app-bookmarked nz-col></app-bookmarked>
  <button (click)="openPurchaseDrawer()" nz-button nz-col nzType="text">Your purchases</button>
</app-shell>

<nz-drawer
  (nzOnClose)="close()"
  [nzClosable]="false"
  [nzVisible]="drawerSettings.visible"
  nzPlacement="right"
  nzTitle="Your history">
  <ng-container *nzDrawerContent>
    <nz-empty *ngIf="purchasedMeds.length < 1"></nz-empty>
    <div *ngFor="let item of purchasedMeds; let index = index" class="item">
      <app-med-card (selected)="navigateToMed($event)"
                    [medItem]="item.medicine"
                    [minimal]="true"
                    [purchaseDate]="item.updatedAt"
      ></app-med-card>
    </div>
  </ng-container>
</nz-drawer>



